{% extends 'base.html' %} {% block titulo %}Bienvenido {{
session['usuario']['nombre'] }}{% endblock titulo %} {% block navbar %}

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"
      >Bienvenido a Dealz, {{ session['usuario']['nombre'] }}</a
    >
    <div class="d-flex gap-3">
      
      <a href="/logout" class="btn btn-sm btn-danger">Cerrar Sesion</a>
    </div>
  </div>
</nav>
{% endblock navbar %} {% block content %} {% if autos %}
<div class="container">
    <h2>Autos en venta </h2>
  <table class="table table-bordered table-striped text-center">
    <thead>
      <tr>
        <th scope="col">Modelo</th>
        <th scope="col">Año</th>
        <th scope="col">Vendedor</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for auto in autos %}
      <tr>
        <td>{{ auto['modelo'] }}</td>
        <td>{{ auto['anho'] }}</td>
        <td>{{ auto['user_id'] }}</td>
        <td>
          <a href="/show/{{  auto['id'] }}" class="btn btn-sm btn-primary">Show</a>
          <a href="/edit/{{  auto['id'] }}" class="btn btn-sm btn-warning">Edit</a>
          <a href="/delete/{{  auto['id'] }}" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/new" class="btn btn-sm btn-success" style="float: right">Agregar Vehiculo</a>
</div>
{% else %}
<div class="container">
  <h1>No Hay Datos</h1>
  <a href="/new" class="btn btn-primary"> Agregar Vehiculo</a>
</div>
{% endif %} {% endblock content %}
